<header class="header">
  <!-- Logo -->
  <a href="/" class="logo">Kevin Kuchta</a>
  <!-- Hamburger icon -->
  <input class="side-menu" type="checkbox" id="side-menu" />
  <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
  <!-- Menu -->
  <nav class="nav">
    <!-- <div class="divider"></div> -->
    <ul class="menu">
      <li><a href="/projects">Projects</a></li>
      <div class="divider"></div>
      <li><a href="/talks">Talks</a></li>
      <div class="divider"></div>
      <li><a href="/resume">Resume</a></li>
      <div class="divider"></div>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
