.resume {
  width: calc(100% - 32px);
  margin-left: 16px;
  padding-bottom: 16px;
  @media (min-width: 670px) {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media print {
  @page { margin: 0; }
  body { margin: 0; }
 }
.resume .floater {
  border: 4px solid #eee;
  background-color: white;
  margin: 5px;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  @media (min-width: 670px) {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 5px 10px 5px 10px;
  }
  @media print {
    display: none;
  }
}
.resume .floater ul, .resume .floater li  {
  margin: 0px;
  padding: 0px;
  list-style: none; 
}
.resume .floater ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (min-width: 670px) {
    display: block;
  }
}
.resume .center-content {
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  @media (min-width: 670px) {
    padding-top: 10px;
    margin-left: 150px;
  }
  @media print {
    margin-left: 0px; 
    max-width: 8in;
  }
}

.resume .name-box {
  border-radius: 20px;
  border: 12px solid #222222;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  @media (min-width: 670px) {
    border-width: 15px;
    margin-top: inherit;
  }
}
.resume .name-box h1 {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 12px;
  @media (min-width: 670px) {
    margin-bottom: inherit;
    font-size: 40px;
  }
}
.resume .name-box .email-part {
  color: #aaa;
}
.resume .name-box .contact-info {
  display: flex;
  font-size: 16px;
  flex-direction: column;
  line-height: 20px;
  @media (min-width: 670px) {
    flex-direction: row;
    justify-content: center;
    gap: 14px;
  }
}
.resume .section {
  margin-top: 12px;
}
.resume .block:nth-child(even) {
  background-color: #f0f0f0;
}
.resume .block {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  font-size: 10px;
  padding: 8px;
  max-width: 640px;
  line-height: 1rem;
}
.resume .block .block-left {
  min-width: 120px;
  @media (min-width: 670px) {
    min-width: 140px;
  }
}
.resume .block .block-right {
  flex-grow: 1;
  font-size: 12px;
}
.resume .block h3 {
  font-family: var(--bodyfont);
  font-weight: normal;
  /* font-style: italic; */
}
.resume .block .title-group {
  line-height: 12px;
  margin-top: 4px;
  /* margin-left: 4px; */
}
.resume .block .job-title {
  font-weight: bold;
}
.resume .block .small-year {
  font-weight: normal;
  font-size: 10px;
}

.resume .footer {
  display: flex;
  flex-direction: column;
  line-height: 16px;
  max-width: 100%;
  gap: 12px;
  margin-top: 12px;
  @media (min-width: 670px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.resume .footer-block {
  text-align: center;
  @media (min-width: 670px) {
    max-width: 200px;
  }
}
.resume .footer-block:nth-child(2) {
  @media (min-width: 670px) {
    max-width: 240px;
  }
}
.resume .footer-block:last-child {
  @media (min-width: 670px) {
    text-align: right;
  }
}
.resume .footer-block h2{
  @media (min-width: 670px) {
    font-size: 16px;
    text-align: inherit;
  }
}
.resume .footer-content {
  font-size: 12px;
}