---
layout: index
---

<div class="resume">
  <div class="floater">
    <ul>
      <li><a href="/">Back to Site</a></li>
      <li><a href="/resume.pdf">PDF Version</a></li>
    </ul>
  </div>
  <div class="center-content">
    <div class="name-box">
      <h1>
        <span class="email-part">kevin@</span>KevinKuchta<span
          class="email-part"
          >.com</span
        >
      </h1>
      <div class="contact-info">
        <a class="email" href="mailto:kevin@kevinkuchta.com"
          >kevin@kevinkuchta.com</a
        >
        <a class="phone" href="tel:415-505-9130">415-505-9130</a>
        <a class="website" href="https://kevinkuchta.com">kevinkuchta.com</a>
        <a class="github" href="https://github.com/kkuchta"
          >github.com/kkuchta</a
        >
      </div>
    </div>
    <div class="section">
      <h2>Experience</h2>
      <div class="block">
        <div class="block-left">
          <h3>Daybreak Health</h3>
          <div class="title-group">
            <div class="job-title">Engineering Manager</div>
            <div class="small-year">2023-2024</div>
          </div>
          <div class="title-group">
            <div class="job-title">Lead Frontend Engineer</div>
            <div class="small-year">2021-2023</div>
          </div>
        </div>
        <div class="block-right">
          As the first eng hire at this mental health startup, I created and
          architected the <b>React</b>/<b>Typescript</b> SPA frontend while also
          contributing significantly to the <b>Rails</b> backend and owning the
          <b>ReactNative</b> mobile app. I hired several other fullstack devs,
          eventually managing a mixed team of 8 engineers and Salesforce admins.
        </div>
      </div>
      <div class="block">
        <div class="block-left">
          <h3>Brex</h3>
          <div class="title-group">
            <div class="job-title">Software Engineer</div>
            <div class="small-year">2019-2020</div>
          </div>
        </div>
        <div class="block-right">
          On the Card Product team at this fintech startup, I built user-facing
          features and accounting integrations across the
          <b>Typescript React</b> frontend and <b>Elixir</b> microservice
          backend.
        </div>
      </div>
      <div class="block">
        <div class="block-left">
          <h3>The Duckbill Group</h3>
          <div class="title-group">
            <div class="job-title">Lead Product Engineer</div>
            <div class="small-year">2020-2021</div>
          </div>
        </div>
        <div class="block-right">
          As the primary product owner and engineer on DuckTools, a suite of AWS
          cost management tools, I wrote everything from <b>Terraform</b> to
          <b>React</b>, with <b>Ruby</b> and <b>Go</b> in between.
        </div>
      </div>
      <div class="block">
        <div class="block-left">
          <h3>Joyable</h3>
          <div class="title-group">
            <div class="job-title">Lead Backend Engineer</div>
            <div class="small-year">2014-2019</div>
          </div>
        </div>
        <div class="block-right">
          As a full stack developer using Angular.js (later <b>React</b>) and
          <b>Ruby on Rails</b>, I helped this mental health startup grow from 5
          to 40 people. I built many user-facing features, improved frontend
          performance, built payment + subscription systems, wrote internal
          tools, built most of the API, drove the transition to an <b>SPA</b>,
          managed/developed the <b>Docker</b>-based infrastructure, and
          hired/mentored other engineers.
        </div>
      </div>
      <div class="block">
        <div class="block-left">
          <h3>Threadflip</h3>
          <div class="title-group">
            <div class="job-title">Software Developer</div>
            <div class="small-year">2013-2014</div>
          </div>
        </div>
        <div class="block-right">
          I did full stack development with <b>Rails</b>, <b>Coffeescript</b>,
          and <b>Backbone</b> at this two-sided ecommerce marketplace startup. I
          worked on user-facing features, internal tools, refactoring, and
          optimization.
        </div>
      </div>
      <div class="block">
        <div class="block-left">
          <h3>Expensify</h3>
          <div class="title-group">
            <div class="job-title">Software Engineer</div>
            <div class="small-year">2011-2013</div>
          </div>
        </div>
        <div class="block-right">
          I was an early developer at this SaaS expense reporting startup
          working on both the <b>PHP</b> backend (bank apis, a Mechanical Turk
          system, receipt parsing) and the <b>JS</b> frontend.
        </div>
      </div>
    </div>
    <div class="section">
      <h2>Projects</h2>
      <div class="block">
        <div class="block-left">
          <h3>Scarr</h3>
          <div class="title-group">
            <a class="project-link" href="https://github.com/kkuchta/scarr"
              >github.com/kkuchta/scarr</a
            >
          </div>
        </div>
        <div class="block-right">
          A Golang tool to quickly register + spin up new sites with S3,
          Cloudfront, ACM, and Route53 on AWS.
        </div>
      </div>
      <div class="block">
        <div class="block-left">
          <h3>CSS-Only Chat</h3>
          <div class="title-group">
            <a
              class="project-link"
              href="https://github.com/kkuchta/css-only-chat"
              >github.com/kkuchta/<br />css-only-chat</a
            >
          </div>
        </div>
        <div class="block-right">
          An asynchronous, web-based chat with no JS at all (by abusing the http
          protocol + css). Built to probe the limits of webapps.
        </div>
      </div>
      <div class="block">
        <div class="block-left">
          <h3>kmk.party</h3>
          <div class="title-group">
            <a
              class="project-link"
              href="https://github.com/kkuchta/url_shortener"
              >github.com/kkuchta/<br />url_shortener</a
            >
          </div>
        </div>
        <div class="block-right">
          A humorous, but functional, url shortener using AWS Lambda and
          <i>no datastore</i> in Python.
        </div>
      </div>
      <div class="block">
        <div class="block-left">
          <h3>Other Projects</h3>
        </div>
        <div class="block-right">
          A bot that generates fake AWS announcements. An infinite-scrolling
          wall of random imgur images in Angular. A tiny Javascript physics
          engine. A mobile-friendly React site for browsing filtered travel
          destinations. A Ruby twitterbot that completes Hamilton lyrics. And
          others at <a href="https://kevinkuchta.com">kevinkuchta.com</a>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-block">
        <h2>Education</h2>
        <div class="footer-content">
          BS in Software Engineering, 2011<br />Rochester Institute of
          Technology
        </div>
      </div>
      <div class="footer-block">
        <h2>Speaking</h2>
        <div class="footer-content">
          <div>
            <a href="https://www.youtube.com/watch?v=datDkio1AXM"
              >Ruby is the Best Javascript</a
            >
            | RubyConf2018
          </div>
          <div>
            <a href="https://www.youtube.com/watch?v=2YobJGkSSrU"
              >Source Diving</a
            >
            | RubyConf2019
          </div>
          <div>
            <a href="https://www.youtube.com/watch?v=B2nBB70uy6M"
              >Vertical Assignment in Ruby</a
            >
            | RubyConf2021
          </div>
          <div>
            <a href="https://www.youtube.com/watch?v=cC4kRXAnunc"
              >Everything a Microservice</a
            >
            | RubyConf2022
          </div>
        </div>
      </div>
      <div class="footer-block">
        <h2>Other Interests</h2>
        <div class="footer-content">
          Homebrewing, Photography, Travel, Comic Drawing
        </div>
      </div>
    </div>
  </div>
</div>
