---
layout: index
---

<div class="resume">
  <div class="floater">
    <ul>
      <li><a href="/">Back to Site</a></li>
      <li><a href="/todo">PDF Version</a></li>
    </ul>
  </div>
  <div class="center-content">
    <div class="name-box">
      <h1>
        <span class="email-part">kevin@</span>KevinKuchta<span
          class="email-part"
          >.com</span
        >
      </h1>
      <div class="contact-info">
        <a class="email" href="mailto:kevin@kevinkuchta.com"
          >kevin@kevinkuchta.com</a
        >
        <a class="phone" href="tel:415-505-9130">415-505-9130</a>
        <a class="website" href="https://kevinkuchta.com">kevinkuchta.com</a>
        <a class="github" href="https://github.com/kkuchta"
          >github.com/kkuchta</a
        >
      </div>
    </div>
  </div>
</div>
